<head>
    <meta charset="utf-8">  <!-- Reconoce diferentes tipos de letras, idiomas y caracteres-->
    <meta name="viewport"content="width=device-width">  <!-- Sitio responsive -->
    <title>App Cuentas Bancarias</title> 
    <link rel="shortcut icon" href="/images/iconoApi.png"> <!-- Etiqueta para mostrar el icono en la pestaña del navegador -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/style.css">    <!-- Vinculacion con hoja de estilos -->
    <script src="https://kit.fontawesome.com/d4ee5988c7.js" crossorigin="anonymous"></script>  <!-- Iconos FontAwesome -->
</head>