<!DOCTYPE html>
<html>

  <%- include('partials/head.ejs') %>  
    
  <body>

    <%- include('partials/header.ejs') %> 
    
    <div class="bienvenido">Bienvenido a NCR</div>

    <div class="botonesIndex">
      <button><a href="/cuentas/list">INGRESAR</a></button>
      <button><a href="/api" target="_blank">API</a></button>
    </div>

  </body>

</html>
