a {
  text-decoration: none; /* le saca el subrayado a todos los hipervinculos de etiqueta a */
  color: white;
} 
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suma posteriormente. */
}
body{
  font-family: 'Exo 2',sans-serif;
  text-align: center;
} 
.banner{
  width: 100%;
}
.bienvenido{
  font-size: xx-large;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 2%;
}
.botonesIndex button a{
  color: white;
}
.botonesIndex button a:hover{
  color: black;
}
.botonesIndex button{
  font-size: x-large;
  margin: 1%;
  border: none;
  border-radius: 7px;
  padding: 10px;
  background-color: seagreen;
}
.botonesIndex :hover{
  transition: all ease 1000ms;
  transform: scale(1.2);
}
.consultaSaldo{
  font-size: x-large;
  margin-top: 2%;
  margin-bottom: 1%;
}
.seleccionaCuenta{
  font-size: xx-large;
  margin-bottom: 2%;
  font-weight: bold;
}
.bodyCuentas{
  text-align: center;
}
.bodyCuentas :hover{
  cursor: pointer; /* mouse en modo hipervinculo */
  transform: translateY(-5%); /* mueve la caja hacia arriba */
  transition: 0.9s; /* para que la caja se desplaze suave hacia arriba */
}
.cajaDeCuenta{
  color: white;
  background-color: rgb(27, 211, 21);
  font-weight: bold;
  font-size: x-large;
  display: flex;
  display: inline-block; /* se ponen en horizontal respetando los tamaños que le paso */
  justify-content: space-around;
  width: 30%;  /* El ancho en % determinará la cantidad de articulos por fila */
  height: auto;
  border-radius: 10px;
  margin: 15px;
  padding: 25px;
}
.cajaDeCuenta :hover{
  transform: translateY(0%);
}
.bodyCuentaDetalle{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(0, 0, 206);
}
.cuentaDetalle{
  font-size: x-large;
  text-align: start;
  margin-top: 1%;
  margin-bottom: 15%;
}
.cuentaDetalle div{
  padding: 15px;
}
.cuentaInexistente{
  font-size: x-large;
}
hr{
  margin-top: 5%;
  width: 100%;
  height: 3px;
  background-color: rgb(110, 110, 110);
  border: rgb(216, 216, 216) solid;
}
.botonSalir{
  margin-top: 2%;
  margin-bottom: 3%;
  text-align: left;
  margin-left: 3.5%;
}
.botonSalir button{
  font-size: x-large;
  padding: 15px;
  cursor: pointer; 
  color: white;
  background-color: rgb(27, 211, 21);
  border-radius: 10px;
  border: none;
}
.botonSalir :hover{
  color: black;
  transition: all ease 1000ms;
}

/* Tablets */
@media (max-width:700px){ 
  .seleccionaCuenta{
    font-size: large;
  }
  .cajaDeCuenta{
    font-weight: bold;
    font-size: large;
    width: 40%;  /* El ancho en % determinará la cantidad de articulos por fila */
  }
}

/* Smartphones */
@media (max-width:480px){ 
  .banner{
    height: 45px;
    width: 100%;
  }
  .bienvenido{
    font-size: x-large;
    margin-top: 20%;
    margin-bottom: 5%;
  }
  .botonesIndex button{
    font-size: large;
    margin: 4%;
  }
  .consultaSaldo{
    font-size: x-large;
    margin-top: 7%;
    margin-bottom: 4%;
  }
  .seleccionaCuenta{
    font-size: x-large;
  }
  .cajaDeCuenta{
    font-weight: bold;
    font-size: large;
    width: 80%;  /* El ancho en % determinará la cantidad de articulos por fila */
    height: auto;
    border-radius: 10px;
    margin: 15px;
    padding: 25px;
  }
  .botonSalir button{
    font-size: large;
  }
  .bodyCuentaDetalle{
    width: 90%;
  }
  .cuentaDetalle{
    font-size: large;
    text-align: start;
    margin-top: 10%;
    margin-bottom: 15%;
  }
}